.DS_Store
.__pycache__


__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.pytest_cache/

*.h5
*.hdf5
*.npz
*.jpg
*.jpeg
*.png
*.json
!utils/*.json   
/dataset_specifics/
/NPZ_DatasetVG_100K/
/NPZ_DatasetVG_100K_2/
/VG_100K/

*.pt
*.pth
*.ckpt
/checkpoints/
/output/
/weights/

.vscode/
.idea/
.DS_Store
Thumbs.db
*.ipynb_checkpoints